{% extends 'cv/base.html' %}

{% block body %}
    <div class="row">
        <h1 class="text-center">My CV</h1>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="div_BasicInfo">
                <table id="table_BasicInfo">
                    <tr>
                        <th><label>Name:</label></th>
                        <td>Johnathon Kemp</td>
                    </tr>
                    <tr>
                        <th><label>Email:</label></th>
                        <td>kemp133@googlemail.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="div_PastEducation">
            <table class="table_PastEducation" id="id_SecondaryEducation">
                <tr></tr>
            </table>
            <table class="table_PastEducation" id="id_CollegeEducation">
                <tr></tr>
            </table>
        </div>
        <div id="div_SkillsNHobbies">
            <table id="table_Skills">
                <tr></tr>
            </table>
            <table id="table_Hobbies">
                <tr></tr>
            </table>
        </div>
        <div id="div_PastExperience">
            <table class="table_PastExperience">

            </table>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}