{% extends "cv/base.html" %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="div_BasicInformation">
            <h3>Basic Information</h3>
                <table>
                    <tr>
                        <th>Information Name</th>
                        <th>Information Value</th>
                        <th style="width:10%">Active</th>
                        <th>Actions</th>
                    </tr>
                    {% if basic_information|length != 0 %}
                    {% for bi in basic_information %}
                    <tr>
                        <td>{{ bi.information_name }}</td>
                        <td>{{ bi.information_value }}</td>
                        <td>{% if bi.active %}Yes{% else %}No{% endif %}</td>
                        <td class="text-center">
                            <a href="{% url 'cv-toggle-BasicInformation' pk=bi.pk %}" class="text-info">Toggle Active</a> |
                            <a href="{% url 'cv-delete-BasicInformation' pk=bi.pk %}" class="text-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center"><h4>No Data Available</h4></td>
                    </tr>
                    {% endif %}
                </table>
                <a href="{% url 'cv-add-basic-information' %}" id="btn_AddBasicInformation"><button class="btn btn-outline-success">Add Basic Information</button></a>
            </div>

            <hr/>
            <div id="div_PastEducation">
            <h3>Past Education</h3>
                {% if education|length != 0 %}
                    {% for edu in education %}
                    <div class="div_education">
                        <h6>Name:</h6>
                        {{ edu.institution.name }}<br/>
                        {{ edu.institution.address_line_1 }}<br/>
                        {{ edu.institution.address_line_2 }}<br/>
                        {% if edu.institution.address_line_3|length != 0 %}
                            {{ edu.institution.address_line_3 }}<br>
                        {% endif %}
                        {{ edu.institution.address_line_4 }}<br>
                        {{ edu.institution.post_code }}
                        <hr/>

                        <table>
                            <tr>
                                <th>Subject</th>
                                <th>Predicted Grade</th>
                                <th>Actual Grade</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            {% if edu.subject.all|length != 0 %}
                            {% for sub in edu.subject.all %}
                                <tr>
                                    <td>{{ sub.name }}</td>
                                    <td>{{ sub.predicted_grade }}</td>
                                    <td>{{ sub.actual_grade }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'cv-toggle-subject' pk=sub.pk %}" class="text-info">Toggle Active</a> |
                                        <a href="{% url 'cv-delete-subject' pk=sub.pk %}" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4"><h4>No Data To Show</h4></td>
                                </tr>
                            {% endif %}
                        </table>
                        <a href="{% url 'cv-add-subject-to-education' pk=edu.pk %}" id="btn_AddSubjectToEducation"><button class="btn btn-outline-success">Add Subject To This Education</button></a>
                        <hr/>
                        <a href="{% url 'cv-delete-education' pk=edu.pk %}" id="btn_DeleteEducation"><button class="btn btn-outline-danger">Delete This Education</button></a>
                    </div>
                    {% endfor %}
                {% else %}
                    <h4 class="text-center">No Past Education To Show</h4>
                {% endif %}
                <a href="{% url 'cv-add-past-education' %}" id="btn_AddPastEducation"><button class="btn btn-outline-success">Add Institute</button></a>
            </div>

            <hr/>
            <div id="div_Skills">
            <h3>Skills</h3>
                <table>
                    <tr>
                        <th>Skill Name</th>
                        <th>Skill Explanation</th>
                        <th>Active?</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    {% if skills|length != 0 %}
                    {% for skill in skills %}
                    <tr>
                        <td>{{ skill.skill_name }}</td>
                        <td>{{ skill.skill_explanation }}</td>
                        <td>{% if skill.active %}Yes{% else %}No{% endif %}</td>
                        <td class="text-center">
                            <a href="{% url 'cv-toggle-skill' pk=skill.pk %}" class="text-info">Toggle Active</a> |
                            <a href="{% url 'cv-delete-skill' pk=skill.pk %}" class="text-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center"><h4>No Data Available</h4></td>
                    </tr>
                    {% endif %}
                </table>
                <a href="{% url 'cv-add-skill' %}" id="btn_AddSkills"><button class="btn btn-outline-success">Add Skill</button></a>
            </div>

            <hr/>
            <div id="div_Hobbies">
            <h3>Hobbies</h3>
                <table>
                    <tr>
                        <th>Hobby Name</th>
                        <th>Hobby Description</th>
                        <th>Active?</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    {% if hobbies|length != 0 %}
                    {% for hobby in hobbies %}
                    <tr>
                        <td>{{ hobby.hobby_name }}</td>
                        <td>{{ hobby.hobby_description }}</td>
                        <td>{% if hobby.active %}Yes{% else %}No{% endif %}</td>
                        <td class="text-center">
                            <a href="{% url 'cv-toggle-hobby' pk=hobby.pk %}" class="text-info">Toggle Active</a> |
                            <a href="{% url 'cv-delete-hobby' pk=hobby.pk %}" class="text-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center"><h4>No Data Available</h4></td>
                    </tr>
                    {% endif %}
                </table>
                <a href="{% url 'cv-add-hobby' %}" id="btn_AddHobbies"><button class="btn btn-outline-success">Add Hobby</button></a>
            </div>

            <hr/>
            <div id="div_PastExperience">
                <h3>Past Experience</h3>
                {% if experience|length != 0 %}
                    {% for exp in experience %}
                    <div class="div_experience">
                        <h6>Institute Name:</h6>
                        {{ exp.institution.name }}<br/>
                        <h6>Institute Address:</h6>
                        {{ exp.institution.address_line_1 }}<br/>
                        {{ exp.institution.address_line_2 }}<br/>
                        {{ exp.institution.address_line_3 }}<br/>
                        {% if exp.institution.address_line_4|length != 0 %}
                            {{ exp.institution.address_line_4 }}<br>
                        {% endif %}
                        {{ exp.institution.post_code }}
                        <hr/>

                        <table>
                            <tr>
                                <th>Placement Start</th>
                                <th>Placement End</th>
                                <th>Notes</th>
                                <th>Active?</th>
                            </tr>
                            <tr>
                                <td>{{ exp.placement_start }}</td>
                                <td>{{ exp.placement_end }}</td>
                                <td>{{ exp.notes }}</td>
                                <td>{% if exp.active %}Yes{% else %}No{% endif %}</td>
                            </tr>
                        </table>
                        <a href="{% url 'cv-add-subject-to-education' pk=edu.pk %}" id="btn_AddSubjectToEducation"><button class="btn btn-outline-success">Add Subject To This Education</button></a>
                        <hr/>
                        <a href="{% url 'cv-delete-education' pk=edu.pk %}" id="btn_DeleteEducation"><button class="btn btn-outline-danger">Delete This Education</button></a>
                    </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4>No Experience To Show</h4>
                {% endif %}
                <a href="{% url 'cv-add-past-experience' %}" id="btn_AddPastExperience"><button class="btn btn-outline-success">Add Institute</button></a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock body %}