.website_content {
    padding: 5px;
}

.body-content {
    padding: 2rem 0;
}

form table, form table tr {
    width: 100%;
}

form table td {
    text-align: center;
    padding: 0.5rem 0;
}

form table th {
    width: 20%;
    vertical-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 0 5px;
}

form textarea {
    resize: none;
}

#formButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn {
    width: 100%;
}