.body-content {
    padding: 2rem 0;
}

form table, form table tr {
    width: 100%;
}

form table td {
    padding: 0.5rem 0;
    text-align: center;
    margin: 0;
}

form table th {
    width: 20%;
    vertical-align: center;
}

#blog_body {
    padding-top: 1rem;
    vertical-align: top;
}

form input, form textarea {
    width: 100%;
}

form textarea {
    resize: none;
}

.blog-btn {
    flex: 1;
}

#formButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#hardcode_url_row {
    text-align: left;
}

#toolmenu {
    outline: solid black 1px;
}

#tagInput {
}

#tagIconList {
    min-height: 1.5rem;
    display: flex;
    flex-direction: row;
}

#tagInput, #tagList, #tagIconList {
    width: 100%;
}

.tagDiv {
    background-color: gray;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}