{% extends "UniversityWebsiteApplication/base.html" %}

{% block body %}
<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<h1 class="text-center">Welcome to my website!</h1>
		<hr/>
		<p>This website was done as part of some "bridging" homework that was required to see if we could make it into the third year of univeristy</p>
		<p>This is what I have to show for myself. Currently, it's not where I want it to be, and due to some personal issues I didn't get to finish it to the level of polish that I would have liked to get it to, but I have started trying to get an extension for it</p>
		<p>Anyways, my circumstances aside, (the previous paragraph will dissapear if I do get an extension), this website is comprised of the following three tabs:</p>
		<ul>
			<li><h5>Home</h5>You are here!</li>
			<li><h5>Blog</h5>This is the part that took the longest to finish, as I decided that I wanted to have the ability to use my own custom tags when writing the blog body to to allow for a more aesthetic look. By the initial deadline, I basically had it done, and looking at the blog posts themselves I think they have turned out very well. I'm really proud of this, and I think the effort I have put into this section will shine through</li>
			<li><h5>CV</h5>Due to my circumstances, I didn't get chance to get much of this done. However, by the time of the deadline, I had at least started trying to get some of the files and code in place ready to start working on it, but I just didn't have enough time to do anything else with it unfortunately</li>
		</ul>
		<p>Feel free to have a look around (though seeing that only the blog is operational there's not much to look at)</p>
	</div>
	<div class="col-3"></div>
</div>
{% endblock %}
